<configuration>

    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%-5level) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FULL" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="DEFAULT"/>
        <appender-ref ref="FULL"/>
    </root>

</configuration>
